.prices__only-with-us-text {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 30px;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .prices__only-with-us-text {
    flex-direction: column;
    margin-bottom: 23px;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .prices__only-with-us-text {
    flex-direction: column;
    margin: 0 0 0 19px;
    width: 86.67%;
  }
}