.learning__question {
  position: absolute;
  width: 16px;
  height: 18px;
  top: -10px;
  right: -10px;
  cursor: pointer;
  z-index: 5;
}

.learning__question:hover ~ span {
  opacity: 1;
  visibility: visible;
  display: flex;
  transition: opacity .5s ease-out;
  transition: visibility .5s ease-out;
}

.learning__question:hover ~ div {
  opacity: 1;
  visibility: visible;
  display: flex;
  transition: opacity .5s ease-out;
  transition: visibility .5s ease-out;
}


.learning__question:focus ~ span {
  opacity: 1;
  visibility: visible;
  display: flex;
  transition: opacity .5s ease-out;
  transition: visibility .5s ease-out;
}

.learning__question:focus ~ div {
  opacity: 1;
  visibility: visible;
  display: flex;
  transition: opacity .5s ease-out;
  transition: visibility .5s ease-out;
}


.learning__question:active ~ span {
  opacity: 1;
  visibility: visible;
  display: flex;
  transition: opacity .5s ease-out;
  transition: visibility .5s ease-out;
}

.learning__question:active ~ div {
  opacity: 1;
  visibility: visible;
  display: flex;
  transition: opacity .5s ease-out;
  transition: visibility .5s ease-out;
}

/*
@media screen and (min-width: 768px) and (max-width: 1365px) {
  .learning__question {
    width: ;
    height: ;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .learning__question {
    width: ;
    height: ;
  }
} */