@import url('./_type/button_type_main-first.css');
@import url('./_type/button_type_main-second.css');
@import url('./_type/button_type_callback.css');
@import url('./_type/button_type_club.css');
@import url('./_type/button_type_contacts.css');
@import url('./_type/button_type_office.css');

@import url('./_type/button_type_A.css');
@import url('./_type/button_type_B.css');
@import url('./_type/button_type_C.css');
@import url('./_type/button_type_D.css');
@import url('./_type/button_type_only-with-us.css');
@import url('./_type/button_type_additional-classes.css');

@import url('./_type/button_type_cat-A.css');
@import url('./_type/button_type_cat-B.css');
@import url('./_type/button_type_cat-С.css');
@import url('./_type/button_type_cat-D.css');
@import url('./_type/button_type_cat-only-with-us.css');
@import url('./_type/button_type_cat-additional-classes.css');

@import url('./_type/button_type_license.css');
@import url('./_type/button_type_consult-popup.css');
@import url('./_type/button_type_consult.css');

.button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #safari { background-color: linear-gradient(272.45deg, #1492A1 17.58%, #BBB272 75.77%, #F4C245 100%) }
}