.club__license-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 140%;
  color: #181818;
  width: 81.26%;
  max-width: 1050px;
  margin: 0 0 44px 0;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .club__license-title {
    font-size: 28px;
    margin: 0 0 26px 0;
    max-width: 720px;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .club__license-title {
    font-size: 20px;
    margin: 6px 0 13px 0;
    min-width: 325px;
  }

  .club__license-title img {
    display: none;
    width: 0;
    height: 0;
  }
}