.contacts__subtitle_type_white {
  color: #F8F8F8;
  width: 80.1%;
  font-size: 18px;
  line-height: 140%;
  margin: 0;
  max-width: 348px;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .contacts__subtitle_type_white {
    width: 100%;
    font-size: 16px;
    margin: 0;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .contacts__subtitle_type_white {
    width: 83%;
    margin: 0;
    font-size: 14px;
    line-height: 140%;
  }
}