.reviews__reviewer_type_four {
  grid-area: four;
  padding: 44px;
  width: 262px;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .reviews__reviewer_type_four {
    width: 278px;
    height: 360px;
    padding: 32px;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .reviews__reviewer_type_four {
    display: flex;
    flex-direction: column;
    min-width: 287px;
    min-height: 281px;
    padding: 22px 18px;
    margin: 0;
  }
}