.reviews__reviewer_type_two {
  grid-area: two;
  padding: 43px 44px 33px 44px;
  width: 642px;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .reviews__reviewer_type_two {
    width: 278px;
    height: 360px;
    padding: 32px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .reviews__reviewer_type_two {
    display: flex;
    flex-direction: column;
    min-width: 287px;
    min-height: 281px;
    padding: 22px 18px;
    margin: 0 15px 0 0;
  }
}