.reviews__reviewer_type_three {
  grid-area: three;
  padding: 44px;
  min-width: 262px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .reviews__reviewer_type_three {
    min-width: 278px;
    min-height: 360px;
    padding: 32px;
    margin-left: 50px;
    margin-right: 243px;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .reviews__reviewer_type_three {
    display: flex;
    flex-direction: column;
    min-width: 287px;
    min-height: 281px;
    max-width: 287px;
    max-height: 281px;
    padding: 22px 18px;
    margin: 0 15px 0 0;
  }
}