.contacts__content {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  width: 100%;
  padding: 128px 9.37% 134px 9.37%;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts__content {
    padding: 70px 3.52% 90px 3.52%;
    align-items: flex-end;
    width: 100%;
    justify-content: center;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .contacts__content {
    position: relative;
    flex-direction: column;
    padding: 41px 6.67% 69px 6.67%;
  }
}