.prices__categories-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 1110px;
  margin: 0 0 26px 0;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
.prices__categories-container {
    flex-direction: column;
    width: 100%;
    max-width: 714px;
    justify-content: start;
    align-items: flex-start;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
.prices__categories-container {
    flex-direction: column;
    width: 100%;
    max-width: 325px;
  }
}