.header__connection {
  display: flex;
  justify-content: flex-end;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #F8F8F8;
  background-color: transparent;
  border: none;
  padding: 0;
  min-width: 141px;
  height: 20px;
  text-decoration: none;
  -webkit-text-decoration: none;

  -webkit-touch-callout: text; /* iOS Safari */
  -webkit-user-select: text;   /* Chrome/Safari/Opera */
  -khtml-user-select: text;    /* Konqueror */
  -moz-user-select: text;      /* Firefox */
  -ms-user-select: text;       /* Internet Explorer/Edge */
  user-select: text;
}

.header__connection:visited {
  color: #F8F8F8;
  -webkit-color: #f8f8f8;
  text-decoration: none;
  -webkit-text-decoration: none;
}

.header__connection:active {
  color: #F8F8F8;
  -webkit-color: #f8f8f8;
  text-decoration: none;
  -webkit-text-decoration: none;
}

.header__connection:focus {
  color: #F8F8F8;
  -webkit-color: #f8f8f8;
  text-decoration: none;
  -webkit-text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .header__connection {
    display: grid;
    width: 154px;
    grid-area: connection;
    justify-self: end;
    margin-right: 500;
  }
}
@media screen and (min-width: 50px) and (max-width: 767px) {
  .header__connection {
    width: 141px;
    display: grid;
    grid-area: connection;
  }
}