.learning__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 140%;
  align-items: center;
  color: #181818;
  width: 40.09%;
  max-width: 445px;
  margin: 0 125px 228px 0;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .learning__title {
    font-size: 32px;
    margin: 43px 19.53% 25px 3.65%;
    width: 76.82%;
    max-width: 590px;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .learning__title {
    font-size: 24px;
    margin: 0;
    width: 48.5%;
  }
}