.contacts__form {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin: 0 0 0 136px;
  max-width: 550px;
}

label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #F8F8F8;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .contacts__form {
    position: relative;
    flex-direction: column;
    margin: 0 0 0 72px;
  }
}
