.main__btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 155px 9.74%;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .main__btns {
    margin: 0 48.05% 117px 3.39%;
    width: 47.53%;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .main__btns {
    justify-content: left;
    flex-direction: column;
    margin: 0 auto 57px 6.5%;
    width: 325px;
  }
}