@import url('_type/main__title_type_white.css');
@import url('_type/main__title_type_black.css');

.main__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 54px;
  line-height: 130%;
  margin: 229px 0 15px 9.74%;
  width: 74.30%;
  max-width: 1015px;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .main__title {
    font-size: 32px;
    margin: 157px 0 22px 3.52%;
    width: 75%;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .main__title {
    font-size: 24px;
    line-height: 140%;
    width: 86.67%;
    max-width: 325px;
    margin: 498px auto 10px 6.67%;
    align-self: center;
  }
}