.learning__cell_type_practice {
  width: 255px;
  height: 68px;
  right: 0;
  top: 136px;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .learning__cell_type_practice {
    width: 218px;
    height: 68px;
    right: 0;
    top: 150px;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .learning__cell_type_practice {
    width: 47.69%;
    height: 58px;
    right: 0;
    top: 110px;
  }

}