.main__image_type_five {
  width: 120px;
  height: 120px;
  top: 384px;
  left: 65.15%;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .main__image_type_five {
    width: 72px;
    height: 71px;
    top: 310px;
    left: 68.23%;
  }
}
