.main__image_type_one {
  width: 27px;
  height: 147px;
  top: 118px;
  right: 25.92%;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .main__image_type_one {
    width: 16px;
    height: 87px;
    top: 102px;
    right: 27.08%;
  }
}
