.main__image_type_three {
  width: 135px;
  height: 132px;
  top: 65px;
  right: -34px;
  transition: transform 1000ms ease-out;
}

.animated {
  transform: translate(-80px, 1000%);
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .main__image_type_three {
    width: 80px;
    height: 79px;
    top: 111px;
    right: -21px;
  }
}
