.main__image_type_arrows {
  display: flex;
  background-image: url('../../../../images/SecondMain/arrows.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
  height: 33px;
  right: 11.20%;
  top: 367px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 1000ms ease-out;
}

.main__image_type_arrows:focus, .main__image_type_arrows:active {
  outline: none;
}

.main__image_type_arrows:hover {
  opacity: .3;
  transition: opacity .5s ease-out .05s;
}

.animated-arrows {
  transform: translateY(10000%);
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .main__image_type_arrows {
    transform: rotate(180deg);
    top: 262px;
    right: 5.99%;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .main__image_type_arrows {
    width: 0;
    height: 0;
    display: none;
  }
}