@import url('_type/main__subtitle_type_white.css');
@import url('_type/main__subtitle_type_black.css');

.main__subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 180%;
  /* margin: 0 0 85px 9.74%; */
  margin: 0 0 85px 0;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .main__subtitle {
    font-size: 18px;
    margin: 0 0 66px 3.52%;
    width: 48.88%;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .main__subtitle {
    font-size: 16px;
    line-height: 170%;
    width: 86.67%;
    max-width: 325px;
    margin: 0 auto 32px 6.67%;
    align-self: center;
  }
}