.club__adress-text {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .club__adress-text {
    width: 92.84%;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .club__adress-text {
    width: 100%;
    flex-direction: column;
  }
}