.club__signup {
  position: absolute;
  bottom: -930px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 540px;
  height: 880px;
  background-color: rgb(24, 24, 24);
  z-index: 5;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .club__signup {
    max-width: 466px;
    max-height: 694px;
    height: 694px;
    bottom: -750px;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .club__signup {
    width: 100%;
    width: 375px;
    height: 594px;
    bottom: -845px;
    align-self: center;
  }
}