.learning__image {
  margin: 0 15px 0 0;
  pointer-events: none;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .learning__image {
    margin: 0 13px 0 0;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .learning__image {
    margin: 15px 7px 15px 2px;
  }
}