.contacts__form-popup {
  width: 278px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin: 0 auto;
  background-color: #181818;
  padding: 60px 36px 40px 36px;
  border-radius: 10px;
}

.contacts__form-popup .contacts__input-container {
  width: 276px;
}

.contacts__form-popup .contacts__input-container:not(:first-child) {
  margin-top: 27px;
}

.contacts__form-popup label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #F8F8F8;
  margin-bottom: 12px;
}

.contacts__form-popup .contacts__form-input {
  width:276px;
}

.contacts__form-popup p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: #F8F8F8;
  margin: 16px 0 0 0;
  justify-self: flex-start;
  align-self: flex-start;
}

.contacts__form-popup span {
  color: #F4C245;
}

.contacts__form-popup .button_type_contacts {
  width:276px;
  left: 37px;
  bottom: 47px;
}

.contacts__contact-method {
  margin-top: 28px;
}

.contacts__contact-method p {
  font-size: 12px;
}

.contacts__contact-option {
  display: flex;
  margin-top: 16px;
}

.contacts__contact-option input {
  margin-right: 12px;
}
