.footer__images {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  max-width: 1280px;
  width: 100%;
}

/* @media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__images {

  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .footer__images {

  }
} */