.reviews__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 9.37% 128px 9.37%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .reviews__content {
    width: 92%;
    padding: 0 3.52%;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .reviews__content {
    width: 86.67%;
    padding: 0 6.67% 50px;
  }
}