.guru__alumni-image {
  width: 80.06px;
  height: 80.06px;
  position: absolute;
  top: -47px;
  right: -50px;
  pointer-events: none;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .guru__alumni-image {
    top: -43px;
    right: -68px;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .guru__alumni-image {
    width: 59px;
    height: 59px;
    top: -34px;
    right: -36px;
  }
}