.prices__only-with-us-image_type_six {
  top: 128px;
  right: 24.87px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .prices__only-with-us-image_type_six {
    width: 158px;
    height: 96px;
    top: 103px;
    right: 5px;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .prices__only-with-us-image_type_six {
    width: 0;
    height: 0;
  }
}