.prices__only-with-us-image_type_three {
  top: 89px;
  right: 206.98px;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .prices__only-with-us-image_type_three {
    width: 11px;
    height: 60px;
    top: 64px;
    right: 187px;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .prices__only-with-us-image_type_three {
    width: 0;
    height: 0;
  }
}