.learning__popup_type_theory {
  width: 152px;
  height: 56px;
  padding: 7px 15px 7px 13px;
  top: -72px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out;
  transition: visibility .5s ease-out;
}