.learning__popup_type_practice {
  width: 152px;
  height: 38px;
  padding: 7px 15px 7px 13px;
  top: -54px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out;
  transition: visibility .5s ease-out;
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .learning__popup_type_practice {
    width: 132px;
    height: 50px;
    top: -66px;
  }
}