.club__underground-image {
  display: flex;
  background-image: url('../../../images/Club/UndergroundImage.svg');
  background-repeat: no-repeat;
  width: 100%;
  min-height: 228px;
  background-color: #f8f8f8;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .club__underground-image {
    width: 100%;
    height: 26.13%;
    min-height: 228px;
    background-position: 13% 0%;
    background-size: 210%;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .club__underground-image {
    width: 100%;
    height: 26.13%;
    min-height: 98px;
    background-position: 13% 0%;
    background-size: 210%;
  }
}