.reviews__slider {
  width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 425px auto 0 auto;
}

.reviews__slider input {
  /* display: none; */
  position: relative;
}

.reviews__slider label:active, .reviews__slider label:checked, .reviews__slider label:focus {
  background-color: #F4C245;
  border: #F4C245;
}

.reviews__slider-controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.reviews__slide-one {
  display: flex;
  flex-direction: row;
  min-width: 750px;
  height: 400px;
  /* position: absolute;
  left: 0;
  top: 0; */
}

.reviews__slide-two {
  display: flex;
  flex-direction: row;
  min-width: 750px;
  height: 400px;
  /* position: absolute;
  left: 750;
  top: 0; */
}

.reviews__slide-three {
  display: flex;
  flex-direction: row;
  min-width: 750px;
  height: 400px;
  /* position: absolute;
  left: 1500;
  top: 0; */
}