.guru__image_type_icon-three {
  width: 108px;
  height: 92px;
  top: 564px;
  left: 37.63%;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .guru__image_type_icon-three {
    width: 76px;
    height: 65px;
    top: 557px;
    left: 24.22%;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .guru__image_type_icon-three {
    width: 80px;
    height: 68px;
    top: 394px;
    left: 67.2%;
  }
}