.guru__image_type_message-seven {
  width: 166px;
  height: 47px;
  top: 423px;
  left: 8.49%;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .guru__image_type_message-seven {
    width: 166px;
    height: 47px;
    top: 395px;
    left: 2.21%;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .guru__image_type_message-seven {
    width: 166px;
    height: 47px;
    top: 198px;
    left: 4.27%;
  }
}