.guru__image_type_message-five {
  width: 182px;
  height: 40px;
  top: 447.87px;
  right: 15.69%;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .guru__image_type_message-five {
    width: 155px;
    height: 35px;
    top: 339px;
    right: 11.40%;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .guru__image_type_message-five {
    width: 0;
    height: 0;
    display: none;
  }
}