@import url('_type/guru__alumni-title_type_grad.css');
@import url('_type/guru__alumni-title_type_white.css');

.guru__alumni-title {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #181818;
  border-radius: 10px;
}
