.prices__category-info {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .prices__category-info {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .prices__category-info {
    width: 87.37%;
    margin: 18px 18px 0 18px;
  }
}