.header__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0;
  width: 100%;
  max-width: 563px;
}

.header__icons {
  grid-area: icons;
  text-decoration: none;
}

.header__icons a {
  text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__links {
    margin: 0;
    grid-area: links;
    justify-self: center;
    max-width: 1279px;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .header__links {
    display: none;
    grid-area: burger;
  }
}