.contacts__map {
  width: 53.44%;
  border: 1px solid #181818;
  margin: 16px 0 0 32px;
  padding: 0;
  overflow: hidden;
}


@media screen and (min-width: 768px) and (max-width: 1365px) {
  .contacts__map {
    width: 47.90%;
    margin: 0 0 0 62px;
    padding: 0;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .contacts__map {
    min-width: 323px;
    width: 99%;
    margin: 32px 0 116px 0;
  }
}