.advantages__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .advantages__info {
    justify-content: left;
    width: 100%;
    max-width: 712px;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .advantages__info {
    width: 86.67%;
  }
}