@import url('_type/contacts__subtitle_type_white.css');
@import url('_type/contacts__subtitle_type_black.css');

.contacts__subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
}
