#switch3:checked ~ #controls .guru__teachers-slider-control:nth-child(1),
#switch1:checked ~ #controls .guru__teachers-slider-control:nth-child(2),
#switch2:checked ~ #controls .guru__teachers-slider-control:nth-child(3) {
	background: url('../../../images/Guru/Next.svg') no-repeat;
  margin: 0 0 -40px 0;
  display: block;
  height: 40px;
}

#switch2:checked ~ #controls .guru__teachers-slider-control:nth-child(1),
#switch3:checked ~ #controls .guru__teachers-slider-control:nth-child(2),
#switch1:checked ~ #controls .guru__teachers-slider-control:nth-child(3) {
	background: url('../../../images/Guru/Prev.svg') no-repeat;
  margin: -40px 0 0 0;
  display: block;
  height: 40px;
}


.guru__teachers-slider-control:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s ease-out;
}
