.club__advantage {
  display: flex;
  flex-direction: row;
  margin: 0 65px 36px 66px;
  width: 75.93%;
}

.club__advantage:nth-of-type(3) {
  margin-bottom: 0;
}

.club__advantage:nth-of-type(1) img {
  width: 42px;
  height: 52px;
}

.club__advantage:nth-of-type(2) img {
  width: 44px;
  height: 44px;
}

.club__advantage:nth-of-type(3) img {
  width: 44px;
  height: 42px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .club__advantage {
    width: 80.04%;
    margin: 0 32px 27px 63px;
  }

  .club__advantage:nth-of-type(1) img {
    width: 32px;
    height: 38px;
  }

  .club__advantage:nth-of-type(2) img {
    width: 32px;
    height: 33px;
  }

  .club__advantage:nth-of-type(3) img {
    width: 32.43px;
    height: 30.96px;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .club__advantage {
    margin: 0 0 14px 0;
    width: 86.67%;
    max-width: 325px;
  }

  .club__advantage:nth-of-type(1) img {
    width: 32px;
    height: 38px;
  }

  .club__advantage:nth-of-type(2) img {
    width: 32px;
    height: 33px;
  }

  .club__advantage:nth-of-type(3) img {
    width: 32.43px;
    height: 30.96px;
  }
}