.guru__teachers-slider-controls {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  position: absolute;
  top: 45px;
  left: 0;
  width: 25px;
}

.guru__teachers-slider-controls label {
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .guru__teachers-slider-controls {
    display: none;
  }
}