.guru__teachers-slider-controls {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  /* width: 30px;
  max-height: 80px;
  min-height: 80px; */
}

@media screen and (max-width: 1365px) {
  .guru__teachers-slider-controls {
    display: none;
  }
}