.button_type_main-first {
  width: 255px;
  height: 54px;
  color: #F4C245;
  border-width: 1px;
  border-style: solid;
  border: 1px solid #F4C245;
  margin: 0 30px 0 0;
  font-size: 16px;
  line-height: 20px;
  font-family: Montserrat;
  font-weight: normal;
  font-style: normal;
  transition: all .5s ease-out;
  padding: 0;
}

.button_type_main-first:hover {
  background: linear-gradient(277.54deg, #1492A1 41.65%, #BBB272 69.55%, #F4C245 100.21%);
  background: -moz-linear-gradient(277.54deg, #1492A1 41.65%, #BBB272 69.55%, #F4C245 100.21%);
  background: -webkit-linear-gradient(277.54deg, #1492A1 41.65%, #BBB272 69.55%, #F4C245 100.21%);
  background: -o-linear-gradient(277.54deg, #1492A1 41.65%, #BBB272 69.55%, #F4C245 100.21%);
  background: -ms-linear-gradient(277.54deg, #1492A1 41.65%, #BBB272 69.55%, #F4C245 100.21%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-width: 1px;
  border-style: solid;
  border: 1px solid transparent;
  border-image: linear-gradient(277.54deg, #1492A1 41.65%, #BBB272 69.55%, #F4C245 100.21%);
  -moz-border-image: linear-gradient(277.54deg, #1492A1 41.65%, #BBB272 69.55%, #F4C245 100.21%);
  -webkit-border-image: linear-gradient(277.54deg, #1492A1 41.65%, #BBB272 69.55%, #F4C245 100.21%);
  -o-border-image: linear-gradient(277.54deg, #1492A1 41.65%, #BBB272 69.55%, #F4C245 100.21%);
  border-image-slice: 1;
  -webkit-border-image-slice: 1;
}

.button_type_main-first:active {
  background: linear-gradient(277.54deg, #1492A1 41.65%, #BBB272 69.55%, #F4C245 100.21%);
  background: -moz-linear-gradient(277.54deg, #1492A1 41.65%, #BBB272 69.55%, #F4C245 100.21%);
  background: -webkit-linear-gradient(277.54deg, #1492A1 41.65%, #BBB272 69.55%, #F4C245 100.21%);
  background: -o-linear-gradient(277.54deg, #1492A1 41.65%, #BBB272 69.55%, #F4C245 100.21%);
  background: -ms-linear-gradient(277.54deg, #1492A1 41.65%, #BBB272 69.55%, #F4C245 100.21%);
  -webkit-text-fill-color: #181818;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .button_type_main-first {
    width: 218px;
    height: 47px;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .button_type_main-first {
    align-self: flex-start;
    width: 325px;
    height: 60px;
    margin: 0 0 13px 0;
  }
}