.button_type_office {
  width: 255px;
  min-height: 54px;
  color: #181818;
  border-width: 1px;
  border-style: solid;
  border: 1px solid #181818;
  margin: 12px 0 0 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-family: Montserrat;
  font-weight: normal;
  font-style: normal;
  transition: all .5s ease-out;
  padding: 0;
}

.button_type_office:hover {
  background-color: #1492A1;
  border-width: 1px;
  border-style: solid;
  border: 1px solid transparent;
  border-color: #1492A1;
}

.button_type_office:active {
  background-color: #F4C245;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .button_type_office {
    width: 218px;
    height: 54px;
    margin: 18px 0 0 0;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .button_type_office {
    position: absolute;
    bottom: 0;
    width: 325px;
    height: 54px;
    margin: 12px 0 69px 0;
  }
}