.button_type_contacts {
  width: 160px;
  height: 54px;
  color: #F8F8F8;
  border: 1px solid rgb(248, 248, 248);
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-family: Montserrat;
  font-weight: normal;
  font-style: normal;
  transition: all .5s ease-out;
  padding: 0;
}

.button_type_contacts:hover {
  background: linear-gradient(277.54deg, #1492A1 41.65%, #BBB272 69.55%, #F4C245 100.21%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid transparent;
  border-image: linear-gradient(277.54deg, #1492A1 41.65%, #BBB272 69.55%, #F4C245 100.21%);
  border-image-slice: 1;
}

.button_type_contacts:active {
  background: linear-gradient(277.54deg, #1492A1 41.65%, #BBB272 69.55%, #F4C245 100.21%);
  -webkit-text-fill-color: #181818;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .button_type_contacts {
    position: absolute;
    right: -190px;
    bottom: 0;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .button_type_contacts {
    position: static;
    width: 276px;
    min-height: 54px;
    margin: 22px 0 0 0;
  }
}