.button_type_club {
  width: 255px;
  min-height: 54px;
  color: #F4C245;
  border: 1px solid #F4C245;
  margin: 77px 219px 88px 66px;
  padding: 15px 32px;
  font-size: 16px;
  line-height: 20px;
  font-family: Montserrat;
  font-weight: normal;
  font-style: normal;
  padding: 0;
  transition: all .5s ease-out;
  padding: 0;
}

.button_type_club:hover {
  background: linear-gradient(277.54deg, #1492A1 41.65%, #BBB272 69.55%, #F4C245 100.21%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid transparent;
  border-image: linear-gradient(277.54deg, #1492A1 41.65%, #BBB272 69.55%, #F4C245 100.21%);
  border-image-slice: 1;
}

.button_type_club:active {
  background: linear-gradient(277.54deg, #1492A1 41.65%, #BBB272 69.55%, #F4C245 100.21%);
  -webkit-text-fill-color: #181818;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .button_type_club {
    width: 218px;
    height: 54px;
    margin: 57px 186px 51px 62px;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .button_type_club {
    width: 321px;
    height: 54px;
    margin: 64px 0 51px 0;
  }
}