.button_type_only-with-us {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 160px;
  height: 48px;
  padding: 0;
  border: 1px solid;
  border-image-source: linear-gradient(275.85deg, #1492A1 21.19%, #BBB272 66.07%, #F4C245 100%);
  border-image-slice: 1;
  transition: all .8s ease-out;
}

.button_type_only-with-us:hover {
  border: 1px solid;
  border-image-source: linear-gradient(84.86deg, #1492A1 0%, #BBB272 56.95%, #F4C245 100%);
  border-image-slice: 1;
}

.button_type_only-with-us:focus {
  border: 1px solid #181818;
  background: #181818;
}

.button_type_only-with-us span {
  display: flex;
  width: 160px;
  height: 48px;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.button_type_only-with-us span {
  background: linear-gradient(272.45deg, #1492A1 17.58%, #BBB272 75.77%, #F4C245 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.button_type_only-with-us span:hover {
  background: linear-gradient(87.16deg, #1492A1 7.23%, #BBB272 84.8%, #F4C245 117.11%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button_type_only-with-us span:focus {
  background: linear-gradient(272.45deg, #1492A1 17.58%, #BBB272 75.77%, #F4C245 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .button_type_only-with-us {
    width: 218px;
    height: 48px;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .button_type_only-with-us {
    width: 155px;
    height: 48px;
  }
}
