.prices__subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #181818;
  width: 100%;
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .prices__subtitle {
    font-size: 16px;
    width: 720px;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .prices__subtitle {
    font-size: 14px;
    width: 325px;
  }
}