.contacts__text {
  display: flex;
  flex-direction: column;
  width: 39.1%;
  max-width: 435px;
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .contacts__text {
    width: 42.02%;
    max-width: 300px;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .contacts__text {
    width: 100%;
    max-width: 325px;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}
