.contacts__info {
  display: flex;
  flex-direction: column;
  width: 31.35%;
  max-width: 348px;
  margin: 0;
}

.contacts__info img {
  height: 12px;
  filter: invert(1);
}

.contacts__info a {
  text-decoration: none;
}

.contacts__info .link {
  text-decoration: underline;
  color: inherit;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
.contacts__info {
    width: 43.42%;
    width: 310px;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
.contacts__info {
    width: 95.38%;
  }
}
