.reviews__director-image {
  position: absolute;
  width: 288px;
  height: 270px;
  z-index: 2;
  top: 17px;
  left: -13px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .reviews__director-image {
    width: 232px;
    height: 218px;
    margin: 45px 32px 0 -7px;
    top: 0px;
    left: 15px;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .reviews__director-image {
    position: absolute;
    left: -8px;
    top: 3px;
    width: 144px;
    height: 136px;
    z-index: 3;
    margin: 0;
  }
}