@import url('./__info/header__info.css');
@import url('./__links/header__links.css');
@import url('./__link/header__link.css');
@import url('./__logo-white/header__logo-white.css');
@import url('./__logo-black/header__logo-black.css');
@import url('./__connection/header__connection.css');
@import url('../burgerMenu/burgerMenu.css');

.header {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  background-color: transparent;
  z-index: 10;
  width: 100%;
}
