@import url('__info/header__info.css');
@import url('__links/header__links.css');
@import url('__link/header__link.css');
@import url('__connection/header__connection.css');
@import url('../burgerMenu/burgerMenu.css');

.header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  background-color: #181818;
  z-index: 10;
  width: 100%;
  opacity: .85;
}
/* 
@media screen and (min-width: 768px) and (max-width: 1365px) {
  .header {
    max-width: 1365px;
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .header {
    width: 86.67%;
  }
} */