@import url('__links/header__links.css');
@import url('__link/header__link.css');
@import url('__connection/header__connection.css');
@import url('../burgerMenu/burgerMenu.css');

.header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  background-color: #181818;
  z-index: 10;
  width: 100%;
  opacity: .85;
}

.header__info {
  display: flex;
  padding: 18px 128px 18px 128px;
  width: 81.26%;
  max-width: 1110px;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .header__info {
    width: 96.006%;
    max-width: 1365px;
    padding: 23px 27px 23px 27px;
    display: grid;
    justify-content: space-between;
    gap: 12.75px 0;
    align-items: center;
    grid-template-areas:
    'logo connection'
    'links links';
  }
}

@media screen and (min-width: 50px) and (max-width: 767px) {
  .header__info {
    width: 86.67%;
    display: grid;
    gap: 9px 0;
    padding: 20px 6.67% 20px 6.67%;
    grid-template-areas:
    'logo burger'
    'connection burger';
  }
}