@import url('./_type/contacts__title_type_white.css');
@import url('./_type/contacts__title_type_black.css');

.contacts__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
}
